html, body {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 1.3em;
	width: 100%;
	background:#292929;
}


ul.hor {
	margin:0;
	padding:0;
}

ul.hor li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#wrapper {
	min-width: 320px;
}

@media only screen and (min-width: 768px) {
	html, body {
		font-size:12px;
	}

	#wrapper {
		width:770px;
		margin:0 auto;
	}
}

@media only screen and (min-width: 1024px) {
	html, body {
		font-size:14px;
	}

	#wrapper {
		width:1024px;
		margin:0 auto;
	}
}

@media only screen and (min-width : 1300px) {
	
	html, body {
		font-size:18px;
	}


	#wrapper {
		width:1300px;
	}
}

header {
	background:#14b694;
}

@media only screen and (min-width: 768px) {
	header {
		margin-top:2.5em;	
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

header .top {
	position: relative;
	text-align:right;
	padding:2em;
}

header .top .social, header .top .search {
	display:inline-block;
	vertical-align: middle;
}

 header .top .search button {
	 display:none;
 }

@media only screen and (max-width: 540px) {
	header .top .search {
		display: none;
	}
}

header .home {
	position: absolute;
	left:2em;
	bottom:-5em;
	text-indent: -99999px;
	width:10em;
	height:10em;
	background:url(images/logo.png);
	background-size: contain;
	text-align: left;
	z-index: 1;
}

header .social {
	text-align: left;	
}

header .social a {
	display: block;
	text-indent: -9999px;	
	width:3em;
	height:3em;
	background-repeat: no-repeat;
	background-position: left center;
	margin-right: 0.5em;
}

header .social .fb {
	background-image: url(images/ico_fb.png);
	background-size: contain;
}
header .social .tw {
	background-image: url(images/ico_tw.png);
	background-size: contain;
}
header .social .yt {
	background-image: url(images/ico_yt.png);
	background-size: contain;
	width: 7em;
}
header .search input {
	border:none;
	height:2em;
	padding: 0 1em 0 2.3em;
	margin:0; 
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background:#fff url(images/search.png) 0.5em center no-repeat;
	background-size: auto 70%;
	outline:none;
	opacity: 0.5;
	  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}
header .search input:focus {
	opacity: 1;
}

header .nav {
	margin:0 0em;
}

header .nav li {
	margin-left:3em;
}

header .nav a {
	display: block;
	font-size:1.3em;
	line-height:1.4em;
	text-transform: uppercase;
	color:#fff;
	text-decoration: none;
	padding:0.5em 0;
}

header .nav a.nav-path-selected,
header .nav a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 540px) {
	header .nav li {
		float:none;

	}
}

/*
*	Generic media box
*/

.mediabox {
	overflow:hidden;
	position: relative;
}

.mediabox .tiles {
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	white-space:nowrap;
	position: relative;
}

.mediabox .tiles li {
	width:100%;
	padding:0;
	display: inline-block;
	margin:0;
	overflow: hidden;
}

.mediabox .tiles a {
	position: relative;
	display: block;
}

.mediabox .tiles img {
	width:100%;
	height:auto;
	display: block;
}

.mediabox .nav {
	position: absolute;
	text-align: center;
	bottom:10%;
	left:0;
	width:100%;
	padding: 0;
	margin:0;
}
.mediabox .nav li {
	display:inline-block;
	width:1.4em;
	height:1.4em;
	margin:0 0.5rem;
	background: #fff;
	list-style: none;
	padding:0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor:pointer;
	opacity: 0.4;
}

.mediabox .nav li.current {
	opacity: 1;
}


/*
*	Media window
*/
.media-window {
	border-top:4px solid #16876f;
	border-bottom:4px solid #16876f;
}

.media-window .tiles h2 {
	position: absolute;
	top:0;
	margin:0;
	text-align: center;
	width: 100%;
	font-size:1.5rem;
	background: rgba(0, 0, 0, 0.4);
}

.media-window .tiles .ccm-global-area a {
	height:100px;
	overflow-y: hidden;
}

.media-window .ccm-add-block {
	line-height: 1.3em;
}

.media-window .tiles h2 span {
	position: relative;
	display: inline-block;
	font-size:1.2em;
	line-height:1.2em;
	color:#fff;
	font-weight: normal;
	padding:0.5em 0;
}

.media-window .tiles h2 span:before {
	content: "";
	position: absolute;
	left:-4em;
	top:0;
	height: 100%;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain;
	width:4em;
}

.media-window .sticker_aktualna_prireditev h2 span:before {
	background-image:url(images/media_sticker_aktualna_prireditev.png);
}
.media-window .sticker_aktualna_storitev h2 span:before {
	background-image:url(images/media_sticker_aktualna_storitev.png);
}
.media-window .sticker_nasvet_meseca h2 span:before {
	background-image:url(images/media_sticker_nasvet_meseca.png);
}
.media-window .sticker_novo_v_trgovini h2 span:before {
	background-image:url(images/media_sticker_novo_v_trgovini.png);
}
.media-window .sticker_pocitniske_dejavnosti h2 span:before {
	background-image:url(images/media_sticker_pocitniske_dejavnosti.png);
}
.media-window .sticker_zival_meseca h2 span:before {
	background-image:url(images/media_sticker_zival_meseca.png);
}



article {
	background:#1e1e1e;
	-moz-box-shadow: inset 0 5px 18px 3px #111;
  	-webkit-box-shadow: inset 0 5px 18px 3px #111;
	box-shadow: inset 0 5px 18px 3px #111;
	padding:2em;
	color:#fff;
}

article h1 {
	color:#14b694;
	margin:0 0 0.5em 0;
	font-size:2em;
	line-height:1.2em;
}
article h2 {
	color:#14b694;
	margin:0 0 0.5em 0;
	font-size:1.5em;
	line-height:1.2em;
}

article p {
	margin:0 0 1em 0;
}

article a {
	color:#14b694;
}

article img {
	max-width: 100%;
	height: auto;
}

.row {
	margin-left:-2em;
	display:block;
}

.row .row {
	margin-bottom: 2em;
}

.row:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.row .span1, .row .span2, .row .span3, .row .span4, 
.nowrap.row .span1, .nowrap.row .span2, .nowrap.row .span3, .nowrap.row .span4 {
	float:left;
	padding-left:2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	margin-bottom: 1em;
}

.row .row .span1, .row .row .span2, .row .row .span3, .row .row .span4 {
	margin-bottom: 0em;
}

.row .span1,
.nowrap.row .span1 {
	width:25%;
}

.row .span2,
.nowrap.row .span2 {
	width:50%;
}

.row .span3,
.nowrap.row .span3 {
	width:75%;
}

.row .span4,
.nowrap.row .span4 {
	width:100%;
}

@media only screen and (max-width: 767px) {
	#wrapper {
	}

	.row .span1, .row .span2, .row .span3, .row .span4  {
		float:none;
		width: auto;
	}

	.row .row .span1, .row .row .span2, .row .row .span3, .row .row .span4 {
		margin-bottom: 1em;
	}
	.row .row {
		margin-bottom: 0;
	}
}

.box {
	display: block;
	border-left:2px solid #5b5b5b;
	border-top:2px solid #5b5b5b;
	border-right:2px solid #2b2b2b;
	border-bottom:2px solid #2b2b2b;
	background: #404040;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	padding:1em;

	-moz-box-shadow: 3px 3px 7px 0px #000;
  	-webkit-box-shadow: 3px 3px 7px 0px #000;
	box-shadow: 3px 3px 7px 0px #000;
}


.box .image-link {
	position: relative;
	display: block;
}

.box .image-link:before {
	content: "";
	width:91px;
	height:89px;
	background-position: left top;
	background-repeat: no-repeat;
	position: absolute;
	left:-4px;
	top:-4px;
	z-index: 1;
}

.box .image-link.sticker_aktualna_prireditev:before {
	background-image:url(images/sticker_aktualna_prireditev.png);
}
.box .image-link.sticker_aktualna_storitev:before {
	background-image:url(images/sticker_aktualna_storitev.png);
}
.box .image-link.sticker_nasvet_meseca:before {
	background-image:url(images/sticker_nasvet_meseca.png);
}
.box .image-link.sticker_novice:before {
	background-image:url(images/sticker_novice.png);
}
.box .image-link.sticker_novo_v_trgovini:before {
	background-image:url(images/sticker_novo_v_trgovini.png);
}
.box .image-link.sticker_pocitniske_dejavnosti:before {
	background-image:url(images/sticker_pocitniske_dejavnosti.png);
}
.box .image-link.sticker_se_proda:before {
	background-image:url(images/sticker_se_proda.png);
}
.box .image-link.sticker_zival_meseca:before {
	background-image:url(images/sticker_zival_meseca.png);
}


.box .image-link a {
	display: block;
	position: relative;
}

.box .image-link h2 {
	position: absolute;
	bottom:5%;
	margin:0;
	left:0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color:#fff;
	font-weight: normal;
	background: rgba(0,0,0,0.4);
	padding:1em 0;
}

.box .image-link img {
	width: 100%;
	height: auto;
}

.box .latest-news {
	position: relative;
}

.box .latest-news h2 {
	margin:0 0 0.75em 0;
	color:#fff;
	background: #292929;
	line-height: 1.2em;
	padding:0.5em;
}

.box .latest-news .summary {
	color:#fff;
	margin-left:0.5em;
}

#firstpage .box {
	margin-bottom: 2em;
}

.box .animals-for-sale {
	position: relative;
}

.box .animals-for-sale .nav {
	bottom:auto;
	top:10%;
}

.box .animals-for-sale h2 {
	position: absolute;
	bottom: 5%;
	margin: 0;
	left: 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
	background: rgba(0,0,0,0.4);
	padding: 1em 0;
	font-size:1.5rem;
	line-height:1.7rem;
	z-index: 1;
}

.box .animals-for-sale dl {
	font-size:1.2rem;
	line-height:1.3rem;
	color:#000;
	position: absolute;
	left:0;
	top:100%;
	width:100%;
	height:100%;
	margin:0;
	background: rgba(255,255,255,0.75);
	-webkit-transition: top 350ms ease-out;
    -moz-transition: top 350ms ease-out;
    -o-transition: top 350ms ease-out;
    transition: top 350ms ease-out;
	padding:2rem 2rem 2rem 7rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	text-align:right;
}

.box .animals-for-sale dt {
	display: block;
	white-space: normal;
	font-style: italic;
	margin-bottom: 1rem;
}
	
.box .animals-for-sale:hover dl {
	top:0;
}

.box .animals-for-sale:hover .nav {
	display:none;
}

.box .animals-for-sale dd {
	margin:0;
	padding:0;
}


.box .animals-for-sale:before {
	content: "";
	width:91px;
	height:89px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(images/sticker_se_proda.png);
	position: absolute;
	left:-4px;
	top:-4px;
	z-index: 1;
}

.gallery-list .box {
	padding:0 0 100% 0; 
	height: 0;
	overflow: hidden;
	text-decoration: none;
	color:#fff;
	position: relative;
}
@media only screen and (max-width: 767px) {
	.gallery-list .box {
		padding:0; 
		height:auto;
	}
}

.gallery-list .box img {
	width:100%;
	height:auto;
	border-top:2px solid #fbb829;
}

.gallery-list .box h3 {
	margin:1.5em 0 0.5em 0;
	text-align: center;
	font-size:1.25em;
	line-height: 1.5em;
}

.gallery-list .box .year {
	position: absolute;
	left:0.5em;
	top:0.5em;
}

.gallery-list .box .count {
	position: absolute;
	right:0.5em;
	top:0.5em;
}

.gallery-filter {
	margin-bottom:2em;
}

.gallery-filter select,
.gallery-filter button {
	border-radius: 0.5em;
	padding:0.5em;
	border:none;
	font-weight: bold;
	display:inline-block;
	margin-right:1em;
	padding:0.5em 1em;
}

.gallery-filter select {
	background: #14b694;
	color:#fff;
}

.gallery-filter button {
	background:#fbb829;
	color:#1e1e1e;
}

.gallery .box {
	padding:0 0 100% 0;
	overflow: hidden;
	height:0;
	text-align:center;
}

.gallery img {
	display:inline-block;
	height:100%;
	width:auto;
}

.animals-for-sale-list {
}

.animals-for-sale-list img {
	width:100%;
	height:auto;
}

.animals-for-sale-list h2 {
}

.animals-for-sale-list .summary {
	color:#fff;
}

.animals-for-sale-list .row .row {
	margin-bottom: 0;
}

.animals-for-sale-list dd {
	margin:0;
	color:#fff;
}

.date-box {
	text-align: center;
}

.date-box div {
	display: inline-block;
	width:90%;
	border-radius: 25%;
	background:#292929;
	color:#fff;
	height:0;
	padding-bottom: 90%;
	-moz-box-shadow: inset 0 0 45px 4px #000;
  	-webkit-box-shadow: inset 0 0 45px 4px #000;
	box-shadow: inset 0 0 45px 4px #000;
	color:#14b694;
	text-align: center;
	position: relative;
}

.date-box em {
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	top:0;
	font-size:0;
}
.date-box em:before {
	content: "";
	display:inline-block;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
}

.date-box strong {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

.date-box span {
	display: block;
	font-size:0.8rem;
	font-style: normal;
	font-weight: normal;
}

.date-box .day {
	font-size:1.8rem;
	line-height:2.0rem;
}

.news-listing .item {
	text-decoration: none;
	margin-bottom: 1em;
	display: block;
}

.news-listing .date-box {
	width:6em;
	float:left;
	margin-right: 1em;
}

.news-listing h2 {
	margin-bottom: 0.2em;
}

.news-listing .summary {
	color:#fff;
	margin-left: 7em;
}

#pagination {
	margin-top:2em;
}

#pagination strong,
#pagination a {
	display:inline-block;
	margin-right:0.6em;
	padding:0.5em;
	color:#fff;
}

#pagination a {
	background: #404040;
	text-decoration: none;
}

#pagination strong {
	background: #14b694;
}

#pagination a:hover {
	background: #14b694;
}

.event-listing {
	
}

.event-listing .item {
	margin-bottom: 1em;
	display: block;
	text-decoration: none;
}

.event-listing .date {
	float:left;
	border-radius: 25%;
	background:#292929;
	color:#fff;
	-moz-box-shadow: inset 0 0 45px 4px #000;
  	-webkit-box-shadow: inset 0 0 45px 4px #000;
	box-shadow: inset 0 0 45px 4px #000;
	color:#14b694;
	text-align: center;
	position: relative;
	width:6em;
	height:6em;
	padding: 1em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	margin-right:1em;
	margin-bottom:1em;
}

.event-listing .date span {
	display: block;
	line-height: 1.8em;
	font-size: 1.2em;
}

.event-listing .date.double span:first-child {
	border-bottom: 1px solid #14b694;
}

.event-listing .date.single span {
	line-height:1.3em;
	height:1.3em;
}

.event-listing .date.single span:last-child {
	font-size:2.2em;
}

.event-listing h2 {
	margin-bottom: 0.2em;
}

.event-listing .summary {
	color:#fff;
	margin-left:7em;
}

.googleMapCanvas {
	height: 0;
	padding-bottom:75%;
}

.sidebar .box {
	margin-bottom:1em;
}

.sidebar .box img {
	width:100%;
	height:auto;
}

footer {
	background: #14b694;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 1em;
	border-top:4px solid #16876f;
}

footer .span1 {
	margin-bottom: 0 !important;
}

footer .span1 > div {
	padding:1.5em 2em;	
	color:#fff;
}

footer .span1 p {
	margin:0 0 1em 0;
}

footer a {
	color:#fff;
}

.ccm-search-block-form form h3 {
	display: none;
}

.ccm-search-block-form a {
	text-decoration: none;
}

.ccm-search-block-form {
	font-size:0;
	line-height: 0;
}

.ccm-search-block-form h3 {
	display:none;
}

.ccm-search-block-text {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding:0.5em;
	border:none;
	display:inline-block;
	padding:0.5em 1em;
	background:#14b694;
	color:#1e1e1e;
	font-size:1rem;
	display: inline-block;
	margin:0;
}

.ccm-search-block-submit {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:0.5em;
	border:none;
	font-weight: bold;
	display:inline-block;
	padding:0.5em 1em;
	background:#fbb829;
	color:#1e1e1e;
	font-size:1rem;
	display: inline-block;
}

#searchResults {
	font-size: 1rem;
	line-height: 1.5rem;
}

#searchResults h3 {
	display: block;
}

#searchResults p {
	margin:0 0 1rem 0;
}

.thumb {
	float: left;
	width: 10em;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}